body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;      max-width: 1180px;
  padding: 0 10px;  margin: 0 auto;
}

h1.logo {
  background-image: url(img/logo.png);  background-repeat: no-repeat;
  background-size: contain;             height: 60px;
  width: 259px;                         margin-top: 30px;
  margin-bottom: 0px;                   padding-bottom: 0;
  text-indent: -10000px;
  float: left; /*--------------------float--------------------*/
}

/* Start Header */

header {
  border-bottom: 1px solid #2a5c37;
}

header .top-info {
  float: right; /*--------------------float--------------------*/
}

header .top-info ul {
  color: #222;
}

header .top-info li{
  float: left; /*--------------------float--------------------*/
  list-style-type: none;
}

header nav {
  margin: 0;    padding: 0;
  background: white;
  float: right; /*--------------------float--------------------*/
}

header nav h2 {
  height: 0;  text-indent: -10000px;
  margin: 0;
}

header nav ul {
  margin: 48px 0 0 0;
}

header nav li {
  float: left; /*--------------------float--------------------*/
  list-style-type: none;
  margin: 0;              padding: 0 0px 5px 0px;
}

header:after { /*---------------float cleared-----*/
  content: "";    clear: both;
  display: block;
}

header nav li a {
  text-decoration: none;    padding: 10px 15px 10px 15px;
  font-weight: normal;      font-size: 18px;
  color: #111;
}

header nav li a:hover {
  color: #fff;  background-color: #2a5c37;
}

.menu-active {
  color: #fff;  background-color: #2a5c37;
}

#phone-green-box a{
  color: #fff;      background-color: #95c51b;
  font-size: 20px;  padding: 10px 0px 6px 15px;
}

#light-green-box {
  float: right;       background-color: #95c51b;
  height: 44px;       width: 50%;
  position: absolute; right: 0px;
  top: 58px;          z-index: -1;
}
/* End Header */

/* Start Slider 1 */

#slider-1 {
  width: 100%;  background: #46995c;
}

#slider-1 h2 {
  margin: 0;          padding: 0 0 15px 0;
  text-align: center; color: white;
  font-size: 16px;    font-weight: normal;
}

#scenery-carousel {
  position: relative; top: 50px;
  background: #eee;   height: 400px;
  margin-bottom: 65px;
}

/* End Slider-1 */

/* Start Main */

#main h1 {
  font-size: 36px;  color: #333;
  display: inline;  position: relative;
  top: 50px;
}

.float-right {
  float: right;     position: relative;
  display: inline;
}

#main p {
  position: relative;   top: 80px;
  font-size: 20px;      color: #333;
}

.margin-bottom {
  margin-bottom: 135px;
}

/* End Main */

/* Start Buy-and-Sell */

#buy {
  background: #95c51b;
  height: 375px;
}

#buy h1 {
  padding-top: 60px;
  font-size: 36px;
  color: white;
}

#buy p {
  font-size: 20px;
  width: 400px;
  color: #fff;
  position: relative;
  top: 35px;
}

#buy a {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  top: 55px;
  color: black;
  font-weight: bold;
}

#buy-pic {
  position: relative;
  top: -375px;
  max-width: 50%;
  background-image: url(img/1.jpg);  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
  left:50%;
}

/* End Buy-and-Sell */

/* Media Queries (Add one for light-green-box --display none when screen size < 1180px)*/
